<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ferreteria Cepillo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body{
            background-color: #3e3e3e;
            color: white;
        }
    </style>
</head>
<body>
<h1 th:text align="center" >Ingresar los datos del Cliente</h1>
<form  class="form-signin" th:object="${cliente}" th:action="@{/clientes/agregar}" method="post">


    <div class="form-group">
        <label for="nombre">Escribe el nombre del cliente</label>
        <input th:field="*{nombre}" id="nombre" placeholder="Nombre" type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label for="apellido">Escribir el apellido del cliente</label>
        <input th:field="*{apellido}" id="apellido" placeholder="Apellido" type="text"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="direccion">Completar con la direccion del cliente</label>
        <input th:field="*{direccion}" id="direccion" placeholder="Direccion" type="text"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="dni">Completar con la direccion del cliente</label>
        <input th:field="*{dni}" id="dni" placeholder=" DNI " type="number"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="telefono">Completar con el telefono del cliente</label>
        <input th:field="*{telefono}" id="telefono" placeholder="Telefono" type="text"
               class="form-control">
    </div>

    <button class="btn btn-success" type="submit">Guardar</button>
    &nbsp;<a class="btn btn-warning" th:href="@{/clientes/mostrar}">Ver todos</a>

    <p>Please select an option</p>

</body>
</html>